<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="div-log-container flex">
  <a class="navbar-brand" href="/">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.BRqILxbXnsaiUpgwCOXXQgAAAA%26pid%3DApi&f=1&ipt=0c70d05a1b9d6fd8f08375c21f55672df8b3dd941f0f0ef8f64bb6ffefb9fec1&ipo=images" alt="Avatar Logo" style="width:40px;" class="">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="div-title">
          <h1 class="nav-title">CarMart</h1>
      </div>

        <div class="div-log">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/loginpanel">Login/Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://example.com">|||</a>
            </li>
            <li class="nav-item">
              <a class="div-profile-pic" href="#">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.stack.imgur.com%2FIHLNO.jpg&f=1&nofb=1&ipt=4a2519f46032e934703ac9c4bc79302eca96a712e5db2c95d51ecabb50c5bc3a&ipo=images" alt="Profile Logo" style="width:40px;" class="">
              </a>
            </li>
          </ul>
        </div>
  </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-dark nav-col sticky-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mynavbar2">
      <ul class="navbar-nav me-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown">Products</a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">Products1</a></li>
              <li><a class="dropdown-item" href="#">Products2</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button">Delivery</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button">Feedback</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button">Contact Us</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="/adminpanel" role="button" >Admin Panel</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary btn-search" type="button">Search</button>
      </form>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
